<!DOCTYPE html>
<html>
<head>
  <title>No Fuss Analytics</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"
</head>
<body>
  <%= @inner %>
</body>
</html>