<div class="row">
    <h1 class="primary-text">Dashboard</h1>
    <div class="col s6">
        <div class="card">
            <div class="card-content" data-rules>
                <span class="card-title primary-text">Rules</span>
                <p>Check your already configured rules.</p>
            </div>
            <div class="card-action">
                <a href="/dashboard/rules" class="primary-text">Configure</a>
            </div>
        </div>
    </div>
     <div class="col s6">
        <div class="card" data-harvested>
            <div class="card-content">
                <span class="card-title primary-text">Harvested Clicks</span>
                <p>Check unconfigured harvested clicks.</p>
            </div>
            <div class="card-action">
                <a href="/dashboard/harvested" class="primary-text">Configure</a>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title primary-text">Configuration and Setup</span>
                {{#if tid}}
                <div class="section">
                        <div class="input-field">
                            <input id="google-id" type="text" class="validate" value="{{tid}}">
                            <label for="google-id">UA TID</label>
                        </div>
                        <button id="update-tid" class="btn waves-effect waves-light" type="submit" name="action">
                            Save
                        </button>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <b>Snippet</b>
                    <input id="snippet" type="text" value="<script>daz script</script>" disabled>
                </div>
                {{else}}
                    <div class="progress">
                      <div class="indeterminate"></div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
