<div class="switch right">
    <label>
        Harvested
        <input type="checkbox" {{#unless isHarvest}}checked{{/unless}}>
        <span class="lever"></span>
        Ignored
    </label>
</div>
<div class="right" style="margin-right: 2%">
    <a href="#" data-refresh><i class="small material-icons grey-text">replay</i></a>
</div>
<h1 class="primary-text title">{{title}}</h1>
<div class="card-container">
    {{> "./harvested-cards.hbs" rows=rows }}
</div>
