<h1 class="primary-text">Success</h1>
<div class="row">
    <div class="card-panel">
    <div class="section">
        You have successfuly configured your harvested click.
    </div>
    <div class="divider"></div>
    <div class="section">
        <a href="/dashboard/harvested" class="btn waves-effect waves-light">Continue</a>
        <a href="/dashboard/tracked" class="primary-text" style="margin-left: 3%">Check Tracked</a>
    </div>
</div>
