<select multiple>
    <option value="" disabled selected>Choose your options</option>
    {{#each types}}
    <option value="{{value}}" {{#if isSelected}}selected{{/if}}>{{name}} - {{value}}</option>
    {{/each}}
</select>
